<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/images/favicon.png">
        <link type="text/css" rel="stylesheet" href="/css/styles.css">


    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <p>{{error_msg}}</p>


        </div>
            <a href="{{pathBack}}">Back HERE</a>
            {{>footer}}       
    </body>
</html>